.page1{
  background-image: url(../assets/backgrounds/h_img.jpg);
  text-align: center;
  color: white;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
}
.page1about{
  text-align: center;
  color: black;
  font-size: 15px;
}
.page1services{
  background-image: url(../assets/backgrounds/s_image.jpg);
text-align: center;
color: white;
font-size: 15px;
background-size: cover;
background-repeat: no-repeat;
height: 45vh;
width: 100%;
padding-top: 85px;
}
.contacts{
  background-image: url(../assets/backgrounds/c_image.jpg);
  color: white;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#user1{
  background-color: transparent;
  color: white;
  width: 30%;
}
#user2{
  background-color: transparent;
  color: white;
  width: 30%;
}
#user3{
  background-color: transparent;
  color: white;
}
footer{
  text-align: center;
  padding: 25px;
}
#workone{
  cursor: pointer;
}
#worktwo{
  cursor: pointer;
}
#workthree{
  cursor: pointer;
}
#workfour{
  cursor: pointer;
}
#workfive{
  cursor: pointer;
}
#worksix{
  cursor: pointer;
}
#workseven{
  cursor: pointer;
}
#workeight{
  cursor: pointer;
}
#slide1, #slide2, #slide3, #slide4, #slide5, #slide6, #slide7, #slide8{
  position: absolute;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px; 
  display: none;
  background-color: white;
  opacity: 0.5;
  width: 213px;
  height: 174px;
  
}
.container p{
  display: none;
}
.what-is-done{
  text-align: center;
  padding-top: 30px;
}

.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}
#portfolio{ 
  align-items: center;
  margin-left: 15%;
  margin-right: 15%; 
 
}